@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gray-50 text-gray-900 min-h-screen;
}

a {
  @apply text-primary;
}

input, select, textarea, button {
  @apply focus:outline-none;
}
